@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');

/* Type selector
*/

p {font-size: 16px;
  line-height: 1.5em;} /* px, pts, 100%, 1em */

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: 'Elsie Swash Caps', cursive;
  color: #777;
  text-align: right
}

/* Class selector - as many elements as you want */

.milk-text { /* select elements with class=milk-text */
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;

}

/* ID selector (apply to one unique element per page) */

#logo {
  background-color: aqua;
}

/* Descendent Selector */

#logo h1 {
  font-family: 'Clicker Script', cursive;
}

#logo h2 {
  font-family: 'Elsie Swash Caps';
}

/* Psuedo Class Selector */

#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}

#details a:hover {
  color: black;
  text-decoration: underline;
}

#details a:active {
  color: red;
  text-decoration: underline;
}
